html,
body {
  font-family: 'Quicksand', serif;
  font-size: 14px;
  font-weight: 300;
}

html {
  overflow-y: hidden !important;
  background-image: url('C:\\Users\\Pragati\\\OneDrive\\Desktop\\login\\bulma-login-template-master\\image\\img1.svg') !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}


.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 20rem;
  background-color: rgba(255, 255, 255, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1.01rem;
}

a {
  color:#16a085;
}

a:hover {
  color: #16a085;
}

.languages {
  margin-top: 10px;
}

.footer-text {
  font-weight: initial;
}
